@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lora:wght@600&display=swap');

* { 
  font-family: 'Bungee Spice', sans-serif;
  font-family: 'Lora', serif;
  font-size: 18px;

}

body { 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(144, 118, 56);
}

.container { 
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 600px;
  width: 450px;
  text-align: center;
  border: 10px solid #23192d;
  background:#23192d;
  border-radius: 8px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(90px, auto);
}

input[type="text"] {
  margin-top: 15px;
  height: 120px;
  width: 430px;
  background-color: rgb(0, 0, 0);
  border: 0px;
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 45px;
  letter-spacing: 1px;
  border: 1px solid white;
  border-radius: 8px;
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: black;
  background-color: #fd0a54;
}

#result {
  grid-column: 3/5;
  grid-row: 5;
  color: black;
  background-color: #f5ecb7;
}

#backspace {
  color:#23192d;
  background-color: #f57576;
}

button {
  margin: 5px;
  border: non;
  border-radius: 8px;
  cursor: pointer;
  background-color: #febf97;
  font-weight: 500;
}


input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

.highlight {
  background-color: #f5ecb7;
  color:#23192d;
}


















































